<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="itemform" (ngSubmit)="saveToList(itemform)">
        <div class="col-md-6">
            <label>Number of Items : </label> {{list[0].value}}
        </div>
        <div class="col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-6">
            <label>Status</label>
            <input type="text" class="form-control" formControlName="status">
        </div>
        <div class="col-md-6">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date">
        </div><br/>
        <div class="col-md-6">
            <button class="btn btn-primary mt-1"  type="submit">Save</button>
        </div>
    </form>
  </div>
 
